# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Gromacs files
*.log
*.trr
*.xtc
confout*.gro
*.gro
*.edr
*.out
*.cpt
*.tpr
*.ndx
*.raw
*.dat
*.pdf
*.png
*.txt
mdout.mdp
*.npz
*.pkl
!dummy.mdp
!commands.txt
eqnpt*
lle*
vle*
started.list
Alkane/em/alkane.pdb
start_VLEs.sh
topo/topol.top
table*.xvg
\#*
*.sh.e*
!*.sh.example
*.sh.o*
*.xvg
